#Mac
.DS_Store

#Unity structure
Temp/
obj/
Library/

#Editor
*.csproj
*.pidb
*.unityproj
*.userprefs
*.sln
*.suo
*.svd

#large file(download by yourself)
libiPhone-lib.a

#tmp file
*.dll
*.exe
*.apk
*.swp

